/* TEXT COLOR */
$text-grey: #3b4a54;
$text-grey-tr: #3b4a54be;
$text-black: #1b1a1adb;
$text-green: #008069;
$text-white: #e9edef;
$text-extra: #ffbc38;
$text-error: rgba(180, 34, 8, 0.95);

/* LENDING COLOR */
$background-dark: #111b21;
$background-green: #00a884;
$background-white: #f7fffd;

/* INPUT COLOR */
$input-color: #dae2e6dc;
$input-reset-text: darkgrey;
$input-search: rgba(199, 199, 199, 0.752);

/* MESSAGE COLOR */
$message-color: #b9facf;
$message-check: rgba(20, 100, 228, 0.931);

/* BUTTON DISABLED */
$button-disabled: #bab7b7d5;
$button-tr: #dcdcdc82;
$button-tr-min: #dcdcdc54;

/* EFFECTS COLOR */
$hover-color: #ffbc38;
